---
layout: archive
---

<h3>About Me</h3>
<h4>I graduated from California State University of Channel Islands with a Bachelor of Science in Computer Science and a Minor in Mathematics.
    My goal is to constantly learn new skills and apply them over my work career.</h4>

<h3>Projects</h3>

<figure>
  <a href="html-image-hyperlink.php"><img src="images/test.jpg" title="Field Management System" width="500" height="300" /></a>
  <figcaption><a href="https://www.w3schools.com/html/">Field Management System</a></figcaption>
</figure>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
