---
layout: archive
---

<h3>About Me</h3>
<h4>I graduated from California State University of Channel Islands with a Bachelor of Science in Computer Science and a Minor in Mathematics.
    My goal is to constantly learn new skills and apply them over my work career.</h4>

<h3>Projects</h3>
<figure>
  	<a href="https://www.github.com/"> <img src="/images/fms.jpg"/> </a>
  	<h4><a href="https://www.github.com/">Field Management Syste</a></h4>
</figure>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
